{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {# <form method="post"> #}
    {# {% if app.user %} #}
    {# <div class="mb-3 mt-20"> #}
    {# You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a> #}
    {# </div> #}
    {# {% endif %} #}

    {# <div class="w-50 m-auto text-center bg-green-600"> #}
    {# <div class="py-12 mt-10 border-b border-gray-200"> #}
    {# <h1 class="text-5xl pt-12 pb-8"> #}
    {# LogIn #}
    {# </h1> #}
    {# {% if error %} #}
    {# <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div> #}
    {# {% endif %} #}

    {# <input #}
    {# type="email" #}
    {# value="{{ last_username }}" #}
    {# name="email" #}
    {# id="inputEmail" #}
    {# class="bg-transparent block mt-10 mx-auto border-b-2 w-2/5 h-20 text-2xl outline-none" #}
    {# placeholder="Email" #}
    {# autocomplete="email" #}
    {# required #}
    {# autofocus #}
    {# > #}

    {# <input #}
    {# type="password" #}
    {# name="password" #}
    {# id="inputPassword" #}
    {# class="bg-transparent block mt-10 mx-auto border-b-2 w-2/5 h-20 text-2xl outline-none" #}
    {# autocomplete="current-password" #}
    {# placeholder="Password" #}
    {# required #}
    {# > #}

    {# <input #}
    {# type="hidden" #}
    {# name="_csrf_token" #}
    {# value="{{ csrf_token('authenticate') }}" #}
    {# > #}

    {# <button #}
    {# class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-1/5 mt-10 font-extrabold py-2 px-2 rounded-3xl" #}
    {# type="submit"> #}
    {# Log In #}
    {# </button> #}
    {# <br/><br/> #}
    {# <span class="mx-1">Don't have an account?</span><a href="{{ path('app_register') }}" #}
    {# class="text-blue-600">Register</a> #}

    {# </div> #}
    {# </div> #}
    {# </form> #}
    <div class="flex flex-row min-h-screen justify-center items-center">
        <form method="post" class="bg-stone-400 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            {{ app.user }}
            {% if app.user %}
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            {% endif %}


            <h1 class="text-2xl text-center text-blue-600 mb-4">
                LogIn
            </h1>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                    Email
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="inputEmail" type="email" placeholder="Email" value="{{ last_username }}" name="email"
                       autocomplete="email" required autofocus>
            </div>
            <div class="mb-6">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input class="shadow appearance-none border border-red-500 rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                       id="inputPassword" type="password" name="password" placeholder="******************"
                       autocomplete="current-password" required>
                <input
                        type="hidden"
                        name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                >
            </div>
            <div class="flex items-center justify-between">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                        type="submit">
                    LogIn
                </button>

            </div>
            <br>
            <span class="mx-1">Don't have an account?</span><a href="{{ path('app_register') }}"
                                                               class="text-blue-600">Register</a>
        </form>
    </div>
{% endblock %}