{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="w-3/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200">
            <h1 class="text-4xl pt-12 pb-8">
                Register
            </h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}

                {{ form_row(registrationForm.agreeTerms) }}

                <button
                        type="submit"
                        class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-1/5 mt-10 font-extrabold py-4 px-8 rounded-3xl">
                    Register
                </button>

            {{ form_end(registrationForm) }}

        </div>
    </div>

{#    <div class="flex flex-row min-h-screen justify-center items-center">#}
{#        <form method="post" class="bg-stone-400 shadow-md rounded px-8 pt-6 pb-8 mb-4">#}
{#            <h1 class="text-2xl text-center text-blue-600 mb-4">#}
{#                Register#}
{#            </h1>#}
{#            {{ form_start(registrationForm) }}#}
{#            <div class="mb-4">#}
{#                <label class="block text-gray-700 text-sm font-bold mb-2" for="username">#}
{#                    Email#}
{#                </label>#}
{#                {{ form_row(registrationForm.email) }}#}
{#            </div>#}
{#            <div class="mb-6">#}
{#                <label class="block text-gray-700 text-sm font-bold mb-2" for="password">#}
{#                    Password#}
{#                </label>#}
{#                {{ form_row(registrationForm.plainPassword) }}#}
{#            </div>#}
{#            <div class="flex items-center justify-between">#}
{#                {{ form_row(registrationForm.agreeTerms) }}#}
{#            </div>#}
{#            <div class="flex items-center justify-between">#}
{#                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"#}
{#                        type="submit">#}
{#                    Register#}
{#                </button>#}

{#            </div>#}
{#            {{ form_end(registrationForm) }}#}
{#            <span class="mx-1">Don't have an account?</span><a href="{{ path('app_login') }}" class="text-blue-600">LogIn</a>#}
{#        </form>#}
{#    </div>#}
{% endblock %}