{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-4/5 m-auto text-center">
        <div class="py-12 border-b border-gray-200 mt-20">
{#            <h1 class="text-6xl pt-12 pb-8">#}
{#                {% for books in pagination_books %}#}
{#                    Books Review ({{ books | length }})#}
{#                {% endfor %}#}

{#            </h1>#}
            <span class="font-light text-gray-500 italic">
                Created by Amare
            </span>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <div class="mx-auto w-4/5 my-8">
                <a
                        href={{ path('book.create') }}
                        class="uppercase border border-green-500 text-lg py-4 px-6 rounded-full transition transition-all bg-green-800 text-white hover:bg-orange-400 hover:text-green-800">
                    Create New Book
                </a>
            </div>
        {% endif %}
        <div class="md:grid lg:grid-cols-3 gap-20 w-4/5 mx-auto py-15">
            <!-- Review Book -->
            {% for book in pagination_books %}
                <div class="text-center pt-8 pb-4">
                    <img src="{{ asset('' ~ book.imagePath) }}" alt="Not found" class="shadow-xl rounded-md object-cover h-48 w-full" />
                    <h2 class="text-gray-700 font-bold text-3xl py-2">
                        {{ book.title }}
                    </h2>

                    <span class="text-gray-500">
                        By <span class="italic text-sm text-gray-800">Amare {{ 'now'|date('d-m-Y')  }}</span>
                    </span>
                    <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                        {{ book.description }}
                    </p>
                    <a href="/books/{{ book.id }}" class="uppercase border border-green-500 text-black-600 text-lg py-2 px-10 rounded transition transition-all bg-sky-600 hover:bg-green-800 hover:text-white">
                        Read More
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
    {% include 'includes/pagination.html.twig' with {'pagination': pagination_books} %}
{% endblock %}
